<!doctype html>

<html>
<head>
	<title>New Post Page</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/ionic.css" rel="stylesheet">
	<link href="/css/ionic.min.css" rel="stylesheet">
	<link href="/css/coral.css" rel="stylesheet">

</head>

<body>


	<div id="header-image" class="bar bar-header bar-blueCoral">
		<a href="javascript:history.back()"><button class="button button-clear button-positive icon ion-ios7-arrow-left"></button></a>
  		<h1 id="nexa-light-header" class="title">account settings</h1>
	</div>
	<br><br>


	<div class="list">
 <div class="item item-divider">
    My Account
  </div>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person"></i>
    Username
    <span class="item-note">
      justinwiguna
    </span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    Email
    <span class="item-note">
      jawiguna@stanford.edu
    </span>
  </a>

   <a class="item item-icon-left" href="#">
    <i class="icon ion-key"></i>
    Change Password
    <span class="item-note">
      *********
    </span>
  </a>

	<div class="item item-divider">
    Followers & Posts
  </div>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Find People to Follow
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-heart"></i>
    Posts You've Liked
    <span class="badge badge-assertive">0</span>
  </a>

</div>

	<div style="color: white" id="tab-color" class="tabs tabs-icon-top">
    <a href="homepage.handlebars" class="tab-item">
      <i id="other-icons" class="icon ion-home"></i>
      Home
    </a>
    <a href="discover.handlebars" class="tab-item">
      <i id="other-icons" class="icon ion-ios7-search"></i>
      Discover
    </a>
    <a href="account.handlebars" class="tab-item">
      <i id="other-icons" class="icon ion-person"></i>
      Account
    </a>
    <a href="activity.handlebars" class="tab-item">
      <i id="other-icons" class="icon ion-ios7-bolt"></i>
      Activity
    </a>
    </div>


  	<script src="https://code.jquery.com/jquery.js"></script>

	<script src="/js/ionic-angular.js"></script>
	<script src="/js/ionic-angular.min.js"></script>
	<script src="/js/ionic.js"></script>
	<script src="/js/ionic.min.js"></script>
</body>
</html>

