<!doctype html>

<html>
<head>
	<title>New Post Page</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/ionic.css" rel="stylesheet">
	<link href="/css/ionic.min.css" rel="stylesheet">
	<link href="/css/coral.css" rel="stylesheet">


       
</head>

<body>


	<div id="header-image" class="bar bar-header bar-blueCoral">
  		<h1 class="title">Discover</h1>
	</div>
	<br><br><br>

	<div class="bar bar-header item-input-inset">
	  <label class="item-input-wrapper">
	    <i class="icon ion-ios7-search placeholder-icon"></i>
	    <input type="search" placeholder="Search">
	  </label>
	  <button class="button button-clear">
	    Cancel
	  </button>
	</div>

	<div class="tabs tabs-icon-only">
	  <a href="homepage.handlebars" class="tab-item">
	    <i class="icon ion-home"></i>
	  </a>
	  <a href="discover.handlebars" class="tab-item">
	    <i class="icon ion-ios7-search"></i>
	  </a>
	  <a href="newPost.handlebars" class="tab-item">
	    <i class="icon ion-compose"></i>
	  </a>
		  <a href="account.handlebars" class="tab-item">
	    <i class="icon ion-person"></i>
	  </a>
		  <a href="activity.handlebars" class="tab-item">
	    <i class="icon ion-ios7-bolt"></i>
	  </a>
	</div>


  <script src="https://code.jquery.com/jquery.js"></script>

	<script src="/js/ionic-angular.js"></script>
	<script src="/js/ionic-angular.min.js"></script>
	<script src="/js/ionic.js"></script>
	<script src="/js/ionic.min.js"></script>
</body>
</html>
