<!doctype html>

<html>
<head>
	<title>Web Lists</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Loading Bootstrap -->
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/css/flat/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/flat/favicon.ico">

	<link href="/css/coral.css" rel="stylesheet">


</head>

<body>

<!-- Header -->
	<div class="header-gen">
  		<h1 id="nexa-light-header" style="color: #00ADE6" class="title">coral</h1>
	</div>

<!-- Bottom Nav Bar -->	
	<div class="bottom-holder">
        <div class="btn-toolbar">
           <!-- <div class="btn-group"> -->
            <a class="navbutton btn btn-inverse" href="homepage.handlebars"><span class="fui-play"></span></a>
            <a class="navbutton btn btn-inverse" href="account.handlebars"><span class="fui-user"></span></a>
            <a class="navbutton btn btn-inverse" href="activity.handlebars"><span class="fui-eye"></span></a>
        </div> 
    </div>
<br><br>


	<content>
		<div>

		<div class="section-name">
		    <div class="section-text">Create New Web</div>
		</div>
		

		 	 <a href="newWeb.handlebars">
		 	 	<div class="web-section">
		 	 		<span class="section-text">+ Make New</span>
		 	 	</div>
		 	 </a>


			

		  <div class="section-name">
		    <div class="section-text">Existing Webs</div>
		  </div>

		  

			{{#each webs}}
		 		<a id="{{id}}" href="web.handlebars/{{id}}">
		 		<div class="web-section">
		 			<span class="section-text">{{title}}</span>
		 		</div>
		 		</a>
		 	
			{{/each}}

		</div>
	</content>

	<script src="https://code.jquery.com/jquery.js"></script>

	 <!-- Load JS here for greater good =============================-->
    <script src="/js/flat/jquery-1.8.3.min.js"></script>
    <script src="/js/flat/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/flat/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/flat/bootstrap.min.js"></script>
    <script src="/js/flat/bootstrap-select.js"></script>
    <script src="/js/flat/bootstrap-switch.js"></script>
    <script src="/js/flat/flatui-checkbox.js"></script>
    <script src="/js/flat/flatui-radio.js"></script>
    <script src="/js/flat/jquery.tagsinput.js"></script>
    <script src="/js/flat/jquery.placeholder.js"></script>
	

	
</body>
</html>
