<!doctype html>

<html>
<head>
	<title>Web Lists</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/ionic.css" rel="stylesheet">
	<link href="/css/ionic.min.css" rel="stylesheet">
	<link href="/css/coral.css" rel="stylesheet">

</head>

<body>


	<div id="header-image" class="bar bar-header bar-blueCoral">
  		<h1 id="nexa-light-header" class="title">coral</h1>
	</div>
	<br><br>

	<div id="tab-color" class="tabs tabs-icon-only">
	  <a href="homepage.handlebars" class="tab-item">
	    <i id="other-icons" class="icon ion-home"></i>
	  </a>
	  <a href="discover.handlebars" class="tab-item">
	    <i id="other-icons" class="icon ion-ios7-search"></i>
	  </a>
	  <a href="newPost.handlebars" id="compose-icon" class="tab-item">
	    <i class="icon ion-compose"></i>
	  </a>
		  <a href="account.handlebars" class="tab-item">
	    <i id="other-icons" class="icon ion-person"></i>
	  </a>
		  <a href="activity.handlebars" class="tab-item">
	    <i id="other-icons" class="icon ion-ios7-bolt"></i>
	  </a>
	</div>

	<br>
	

	<content padding="true">
		<div class="list">
			<div style="color: #00ade6" class="item item-divider">
		    Create a New Web
		 	</div>

		  <a style="color: #cc685d" class="item" href="newWeb.handlebars">
		    + Make New
		  </a>

		  <div style="color: #00ade6" class="item item-divider">
		    Existing Webs
		  </div>

			{{#each webs}}
		 		<a style="black; color: #cc685d" class="item" id="{{id}}" href="web.handlebars/{{id}}">
		 			{{title}}
		 		</a>
			{{/each}}

		</div>
	</content>


 	<script src="https://code.jquery.com/jquery.js"></script>

	<script src="/js/ionic-angular.js"></script>
	<script src="/js/ionic-angular.min.js"></script>
	<script src="/js/ionic.js"></script>
	<script src="/js/ionic.min.js"></script>
</body>
</html>
