<!doctype html>

<html>
<head>
	<title>Web Lists</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/css/flat/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/flat/favicon.ico">

	<link href="/css/coral.css" rel="stylesheet">


	<style>

	.navbutton {
		width: 22%;
	}

	.bottom-holder {
    	text-align: center;
    	width: 100%;
    	margin: auto;
    	background: rgba(102, 153, 255, 0.9);
		padding-top: 5px;
		padding-bottom: 5px;
		position: fixed;
		bottom: 0px;
	}

	.new-web-div {
		width: 100%;
		height: 70px;
		margin: auto;
		position: fixed;
		top: 0px;

	}

	</style>
</head>

<body>

<!-- Header -->
	<div id="header-image" class="new-web-div">
  		<h1 id="nexa-light-header" style="color: #00ADE6" class="title">coral</h1>
	</div>

<!-- Bottom Nav Bar -->	
	<div class="bottom-holder">
        <div class="btn-toolbar">
           <!-- <div class="btn-group"> -->
            <a class="navbutton btn btn-inverse" href="#"><span class="fui-time"></span></a>
            <a class="navbutton btn btn-inverse" href="#"><span class="fui-photo"></span></a>
            <a class="navbutton btn btn-inverse" href="#"><span class="fui-heart"></span></a>
            <a class="navbutton btn btn-inverse" href="#"><span class="fui-eye"></span></a>
        </div> 
    </div>



	<content>
		<div>

		<br><br><br><br>

		 	 <a href="newWeb.handlebars">+ Make New</a>


<br><br><br>
			

		  <div>
		    Existing Webs
		  </div>
		  

			{{#each webs}}
		 		<a id="{{id}}" href="web.handlebars/{{id}}">
		 			{{title}}
		 		</a>
			{{/each}}

		</div>
	</content>

	<script src="https://code.jquery.com/jquery.js"></script>

	 <!-- Load JS here for greater good =============================-->
    <script src="/js/flat/jquery-1.8.3.min.js"></script>
    <script src="/js/flat/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/flat/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/flat/bootstrap.min.js"></script>
    <script src="/js/flat/bootstrap-select.js"></script>
    <script src="/js/flat/bootstrap-switch.js"></script>
    <script src="/js/flat/flatui-checkbox.js"></script>
    <script src="/js/flat/flatui-radio.js"></script>
    <script src="/js/flat/jquery.tagsinput.js"></script>
    <script src="/js/flat/jquery.placeholder.js"></script>
	

	
</body>
</html>
