<!doctype html>

<html>
<head>
	<title>Web Lists</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/ionic.css" rel="stylesheet">
	<link href="/css/ionic.min.css" rel="stylesheet">
	<link href="/css/coral.css" rel="stylesheet">
	

	
</head>
<body id="background">

	<img id="icon" src="https://dl.dropboxusercontent.com/u/39378312/coral_opener.png">
		

	<br><br><br><br><br>

	<a href="/homepage.handlebars">
		<center><button class="button button-outline button-pinkCoral" style="width:130px; border-radius: 3px">enter</button></center>
	</a>


  <script src="https://code.jquery.com/jquery.js"></script>

	<script src="js/ionic-angular.js"></script>
	<script src="js/ionic-angular.min.js"></script>
	<script src="js/ionic.js"></script>
	<script src="js/ionic.min.js"></script>
</body>
</html>

