<!doctype html>

<html>
<head>
	<title>Login</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<!-- Loading Bootstrap -->
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/css/flat/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/flat/favicon.ico">

	<link href="/css/coral.css" rel="stylesheet">
      

</head>

<body>

<!-- Header -->
	<div id="header-image" class="header-gen">
		<!--<a href="homepage.handlebars"><button></button></a>-->
		<h1 id="nexa-light-header" style="color: #00ADE6" class="title">login</h1>
	</div>

<!-- Bottom Nav Bar -->	
	<div class="bottom-holder">
        <div class="btn-toolbar">
            <a class="navbutton btn btn-inverse" href="homepage.handlebars"><span class="fui-play"></span></a>
            <a class="navbutton btn btn-inverse" href="account.handlebars"><span class="fui-user"></span></a>
            <a class="navbutton btn btn-inverse" href="activity.handlebars"><span class="fui-eye"></span></a>
        </div> 
    </div>


	


	<br><br><br>


	<div class="new-web-form">
	<form role="form" method="get" action="/loginFunction">
		<span>Username</span>
	  	<input type="text" name="name" class="form-control"/>
	  	<span>Password</span>
	  	<input type="password" name="password" class="form-control"/>

	  	<button type="submit" class="submit-button btn btn-embossed btn-inverse" style="margin-top: 30px">Login</button>

	</form>

		<a href="createAccount.handlebars"><button type="submit" class="submit-button btn btn-embossed btn-info" style="margin-top: 10px">Sign Up</button></a>
	</div>


	





  	<script src="https://code.jquery.com/jquery.js"></script>

	 <!-- Load JS here for greater good =============================-->
    <script src="/js/flat/jquery-1.8.3.min.js"></script>
    <script src="/js/flat/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/flat/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/flat/bootstrap.min.js"></script>
    <script src="/js/flat/bootstrap-select.js"></script>
    <script src="/js/flat/bootstrap-switch.js"></script>
    <script src="/js/flat/flatui-checkbox.js"></script>
    <script src="/js/flat/flatui-radio.js"></script>
    <script src="/js/flat/jquery.tagsinput.js"></script>
    <script src="/js/flat/jquery.placeholder.js"></script>
</body>
</html>
