<!doctype html>

<html>
<head>
	<title>New Post Page</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/ionic.css" rel="stylesheet">
	<link href="/css/ionic.min.css" rel="stylesheet">
     
</head>

<body>


	<div class="bar bar-header">
  		<a href="javascript:history.back()"><button class="button button-clear button-positive icon ion-ios7-arrow-left"></button></a>
  		<h1 class="title">Write New Post!</h1>
	</div>
	<br><br><br>

	<label class="item item-input">
    	<textarea placeholder="What's new?"></textarea>
  	</label>

  	<a href="web.handlebars">
		<button class="button button-block button-positive">Submit Post</button>
	</a>

	<div class="tabs tabs-icon-only">
	  <a href="homepage.handlebars" class="tab-item">
	    <i class="icon ion-home"></i>
	  </a>
	  <a href="discover.handlebars" class="tab-item">
	    <i class="icon ion-ios7-search"></i>
	  </a>
	  <a href="newPost.handlebars" class="tab-item">
	    <i class="icon ion-compose"></i>
	  </a>
		  <a href="account.handlebars" class="tab-item">
	    <i class="icon ion-person"></i>
	  </a>
		  <a href="activity.handlebars" class="tab-item">
	    <i class="icon ion-ios7-bolt"></i>
	  </a>
	</div>
	


  <script src="https://code.jquery.com/jquery.js"></script>

	<script src="/js/ionic-angular.js"></script>
	<script src="/js/ionic-angular.min.js"></script>
	<script src="/js/ionic.js"></script>
	<script src="/js/ionic.min.js"></script>
</body>
</html>