<!doctype html>

<html>
<head>
	<title>New Web Name</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/ionic.css" rel="stylesheet">
	<link href="/css/ionic.min.css" rel="stylesheet">
	<link href="/css/coral.css" rel="stylesheet">
      
</head>

<body>


	<div id="header-image" class="bar bar-header">
  		<a href="homepage.handlebars"><button class="button button-clear button-positive icon ion-ios7-arrow-left"></button></a>
  		<h1 id="nexa-light-header" style="color: #00ADE6" class="title">new web</h1>
	</div>
	<br><br><br>
	<form id="addWebForm" role="form" method="get" action="/addWeb">
	  <label class="item item-input item-stacked-label">
	    <input type="text" placeholder="Name..." name = "title">
	  </label>


		<button type = "submit" class="button button-full button-positive">Create Web</button>
	</a>
</form>

  <script src="https://code.jquery.com/jquery.js"></script>

	<script src="/js/ionic-angular.js"></script>
	<script src="/js/ionic-angular.min.js"></script>
	<script src="/js/ionic.js"></script>
	<script src="/js/ionic.min.js"></script>
</body>
</html>
