<!doctype html>

<html>
<head>
	<title>New Post Page</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<!-- Loading Bootstrap -->
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/css/flat/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/flat/favicon.ico">

	<link href="/css/coral.css" rel="stylesheet">
     
</head>

<body>

	<!-- Header -->
	<div class="header-gen">
		<!--<a href="homepage.handlebars"><button></button></a>-->
		<h1 id="nexa-light-header" style="color: #00ADE6" class="title">create new web</h1>
		<!--<a href="javascript:history.back()"><button class="button button-clear button-positive icon ion-ios7-arrow-left"></button></a>-->
	</div>

<!-- Bottom Nav Bar -->	
	<div class="bottom-holder">
        <div class="btn-toolbar">
            <a class="navbutton btn btn-inverse" href="homepage.handlebars"><span class="fui-play"></span></a>
            <a class="navbutton btn btn-inverse" href="account.handlebars"><span class="fui-user"></span></a>
            <a class="navbutton btn btn-inverse" href="activity.handlebars"><span class="fui-eye"></span></a>
        </div> 
    </div>
	
	<br><br>


	
	
	<div class="list card">

		<form role="form" method="get" action="/loginFunction">
		<span>Username</span>
	  	<input type="text" name="title" class="form-control"/>
	  	<span>Password</span>
	  	<input type="password" name="title" class="form-control"/>

	  	<button type="submit" class="submit-button btn btn-embossed btn-inverse" style="margin-top: 30px">Login</button>

	</form>

	<form id="addPostForm" role="form" method="get" action="/addPost/{{webID}}/{{postID}}">

	<label class="item item-input">
    	<textarea placeholder="What have you learned today?" name="message"></textarea>
  	</label>

		<button type="submit" class="button button-block button-pinkCoral">Submit Post</button>

	</form>

  <div class="item item-avatar">
    <img src="https://dl.dropboxusercontent.com/u/39378312/headshot.jpg">
    <h2>Justin Wiguna</h2>
    <p>November 05, 1992</p>
  </div>

  <div class="item item-body">
    <p>
      {{message}}
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>


	
  	<script src="https://code.jquery.com/jquery.js"></script>

	 <!-- Load JS here for greater good =============================-->
    <script src="/js/flat/jquery-1.8.3.min.js"></script>
    <script src="/js/flat/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/flat/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/flat/bootstrap.min.js"></script>
    <script src="/js/flat/bootstrap-select.js"></script>
    <script src="/js/flat/bootstrap-switch.js"></script>
    <script src="/js/flat/flatui-checkbox.js"></script>
    <script src="/js/flat/flatui-radio.js"></script>
    <script src="/js/flat/jquery.tagsinput.js"></script>
    <script src="/js/flat/jquery.placeholder.js"></script>

</body>
</html>
	