<!doctype html>

<html>
<head>
	<title>New Post Page</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/ionic.css" rel="stylesheet">
	<link href="/css/ionic.min.css" rel="stylesheet">
	<link href="/css/coral.css" rel="stylesheet">
     
</head>

<body>


	<div id="header-image" class="bar bar-header">
  		<a href="javascript:history.back()"><button class="button button-clear button-positive icon ion-ios7-arrow-left"></button></a>
	</div>
	<br><br>
<!doctype html>

<html>
<head>
	<title>New Post Page</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/css/ionic.css" rel="stylesheet">
	<link href="/css/ionic.min.css" rel="stylesheet">
	<link href="/css/coral.css" rel="stylesheet">
     
</head>

<body>


	<div id="header-image" class="bar bar-header">
  		<a href="javascript:history.back()"><button class="button button-clear button-positive icon ion-ios7-arrow-left"></button></a>
  		<h1 id="nexa-light-header" style="color: #00ADE6" class="title"></h1>
	</div>
	
	<div class="list card">

<form id="addPostForm" role="form" method="get" action="/addPost/{{webID}}/{{postID}}">
	<label class="item item-input">
    	<textarea placeholder="What's new?" name="message"></textarea>
  	</label>

		<button type="submit" class="button button-block button-pinkCoral">Submit Post</button>
</form>

  <div class="item item-avatar">
    <img src="https://dl.dropboxusercontent.com/u/39378312/headshot.jpg">
    <h2>Justin Wiguna</h2>
    <p>November 05, 1992</p>
  </div>

  <div class="item item-body">
    <p>
      {{message}}
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>


	<div style="color: white" id="tab-color" class="tabs tabs-icon-top">
	 	<a href="homepage.handlebars" class="tab-item">
	    <i id="other-icons" class="icon ion-home"></i>
      Home
	  </a>
	 	<a href="discover.handlebars" class="tab-item">
	  	<i id="other-icons" class="icon ion-ios7-search"></i>
      Discover
	  </a>
		<a href="account.handlebars" class="tab-item">
	    <i id="other-icons" class="icon ion-person"></i>
      Account
	  </a>
		<a href="activity.handlebars" class="tab-item">
	    <i id="other-icons" class="icon ion-ios7-bolt"></i>
      Activity
	  </a>
		</div>
	
  <script src="https://code.jquery.com/jquery.js"></script>

	<script src="/js/ionic-angular.js"></script>
	<script src="/js/ionic-angular.min.js"></script>
	<script src="/js/ionic.js"></script>
	<script src="/js/ionic.min.js"></script>
</body>
</html>
	