<!doctype html>
<html>
<head>
  <title>Graph | Basic usage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/ionic.css" rel="stylesheet">
  <link href="/css/ionic.min.css" rel="stylesheet">
  <link href="/css/vis.css" rel="stylesheet">
  <link href="/css/coral.css" rel="stylesheet">

  <script type="text/javascript" src="/js/vis.js"></script>
</head>

<body>

<div id="header-image" class="bar bar-header">
      <a href="javascript:history.back()"><button class="button button-clear button-positive icon ion-ios7-arrow-left"></button></a>
      <h1 id="nexa-light-header" style="color: #00ADE6" class="title">web</h1>
</div>


<div style="background-color: white">
<div id="mygraph"></div>
</div>

<script type="text/javascript">
  // create an array with nodes
  
  
    var nodes = [
      {{#each node}}
        {id: {{id}}, label: '{{message}}', shape: 'box'},
      {{/each}}
      {id: 0, label: ''}
    ];


  //     // create an array with nodes
  // var nodes = [
  //   {id: 1, label: 'Node 1'},
  //   {id: 2, label: 'Node 2'},
  //   {id: 3, label: 'Node 3'},
  //   {id: 4, label: 'Node 4'},
  //   {id: 5, label: 'Node 5'}
  // ];
  

  // create an array with edges
  var edges = [
    {{#each node}}
      {from: {{parent}}, to: {{id}}, color: '#00ADE6'},
    {{/each}}
    {from: 0, to: 1, color: '#00ADE6'}  //changed from "0, to 0" to "0, to: 1"
  ];


  //  // create an array with edges
  // var edges = [
  //   {from: 1, to: 2},
  //   {from: 1, to: 3},
  //   {from: 2, to: 4},
  //   {from: 2, to: 5}
  // ];

  // create a graph
  var container = document.getElementById('mygraph');
  var data= {
    nodes: nodes,
    edges: edges,
  };
  var options = {
    width: '350px',
    height: '800px',
  };
  var graph = new vis.Graph(container, data, options);
</script>

</body>
</html>