@font-face {
    font-family: 'nexa_light';
    src: url('../fonts/Nexa_Free_Light-webfont.eot');
    src: url('../fonts/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nexa_Free_Light-webfont.woff') format('woff'),
         url('../fonts/Nexa_Free_Light-webfont.ttf') format('truetype'),
         url('../fonts/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#nexa-light-header {
	font-family: 'nexa_light';
	font-size: 28px;
}

@font-face {
    font-family: 'nexa_bold';
    src: url('../fonts/Nexa_Free_Bold-webfont.eot');
    src: url('../fonts/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nexa_Free_Bold-webfont.woff') format('woff'),
         url('../fonts/Nexa_Free_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#nexa-bold {
	font-family: 'nexa_bold';
}


#background {
		background-image:url('https://dl.dropboxusercontent.com/u/39378312/splash.png');
		background-attachment: fixed;
		background-size: cover;
	}

#icon {
		width: 180px;
		height: 180px;
		display: block;
		margin: 0 auto;
		margin-top: 60px;
	}

#header-image {
	background-image: url('https://dl.dropboxusercontent.com/u/39378312/header_background.png');
	background-size: cover;
	z-index: 15;
}

#compose-icon {
	color: #cc685d;
}

#other-icons {
	color: #00ade6;
}

#tab-color {
	background-color: black;
}