<!doctype html>

<html>
<head>
	<title>Web Lists</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="../css/ionic.css" rel="stylesheet">
	<link href="../css/ionic.min.css" rel="stylesheet">


	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->

	<div class="bar bar-header bar-calm">
  		<h1 class="title">Coral</h1>
	</div>
	<br><br>

	<div class="tabs tabs-icon-only">
	  <a href="homepage.html" class="tab-item">
	    <i class="icon ion-home"></i>
	  </a>
	  <a href="discover.html" class="tab-item">
	    <i class="icon ion-ios7-search"></i>
	  </a>
	  <a href="newPost.html" class="tab-item">
	    <i class="icon ion-compose"></i>
	  </a>
		  <a href="account.html" class="tab-item">
	    <i class="icon ion-person"></i>
	  </a>
		  <a href="activity.html" class="tab-item">
	    <i class="icon ion-ios7-bolt"></i>
	  </a>
	</div>


	

	<content padding="true">
		<div class="list">
			<div class="item item-divider">
		    Create a New Web
		 	</div>

		  <a class="item" href="newWeb.html">
		    + Make New
		  </a>

		  <div class="item item-divider">
		    Existing Webs
		  </div>

		  <a class="item" href="newPost.html">
		    Kingston's CS147
		  </a>

		  <a class="item" href="newPost.html">
		    Stanford
		  </a>

		  <a class="item" href="newPost.html">
		    Food
		  </a>

		  <a class="item" href="newPost.html">
		    Movies
		  </a>

		  <a class="item" href="newPost.html">
		    Hobbies
		  </a>

		</div>
	</content>


 	<script src="https://code.jquery.com/jquery.js"></script>

	<script src="../js/ionic-angular.js"></script>
	<script src="../js/ionic-angular.min.js"></script>
	<script src="../js/ionic.js"></script>
	<script src="../js/ionic.min.js"></script>
</body>
</html>
